* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  /* background-color:#dfe6e97a; */
  background: linear-gradient(180deg,#f8fafc,rgba(242,202,252,.11) 34.69%,rgba(250,198,252,.11) 44.06%,rgba(175,183,255,.11) 54.48%,rgba(142,220,200,.07) 64.9%,#f8fafc 97.95%);
  font-family: 'Roboto';
}

:root {
  /* color */
  --bg_primary_dark: #2d6668;
  --bg_primary: #428f92;
  --bg_secondary: #a9fcff;
  --bg_success: #f0fae9;
  --text_primary_dark: #2d6668;
  --text_secondary_dark: #0e7e7e;
  --text_primary_fade: #7daeb0;
  --text_success: #69cb1c;
  --text_dark: #222222;
  --text_white: #ffffff;
}

/* ============================== Teacher Dashboard ============================== */
.card-container {
  height: 394px;
}

.teacher-profile {
  /* width: 218.33px; */
  height: 394px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px #0000001a;
  border: 0;
  position: relative;
}

.teacher-profile .card-header {
  height: 222px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #e4feff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  display: inline-flex;
}

.teacher-profile .card-header .edit-icon {
  width: 22px;
  height: 22px;
  padding: 5px;
  background: #d9f1f1;
  border-radius: 33px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.teacher-profile .card-header .edit-icon img {
  width: 12px;
  height: 12px;
}

.teacher-profile .card-header .profile-img {
  width: 98px;
  height: 98px;
  padding: 0px, 4px, 0px, 4px;
  border-radius: 61px;
  gap: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher-profile .card-header .profile-img img {
  width: 83px;
  height: 93px;
  padding: 0px, 4px, 0px, 4px;
  border-radius: 61px;
  gap: 10px;
  background-color: #fff;
}

.teacher-profile .card-header .teacher-title {
  /* width: 154px; */
  height: 30px;
  /* padding: 6px, 24px, 6px, 24px; */
  border-radius: 6px;
  border: 1px solid #a9fcff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacher-profile .card-header .teacher-title h2 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text_primary_dark);
  padding: 0 14px;
}

.teacher-profile .card-header .icon {
  display: flex;
}

.teacher-profile .card-header .single-icon {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 16px;
  border: 1px;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #a9fcff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.teacher-profile .card-body {
  text-align: center;
}

.teacher-profile .card-body h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #222222;
}

.teacher-profile .card-body p {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #555555;
}

.teacher-profile .card-body .button {
  /* width: ; */
  height: 32px;
  padding: 0 10px;
  border-radius: 4px;
  gap: 5px;
  background: #e4feff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  align-self: center;
}

.teacher-profile .card-body .button a {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0225em;
  /* text-align: left; */
  color: #195153;
  /* padding: 0 10px; */
}

/* chart */
.student-chart {
  /* width: 585px; */
  height: 394px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px #0000001a;
  border: 0;
  position: relative;
  padding: 16px;
}

.student-chart .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-chart .header h3 {
  font-family: Public Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.student-chart .header .timeline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-chart .header .timeline h4 {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 5px;
}

.student-chart .header .timeline .form-select {
  font-family: Inter;
  font-size: 10px;
  font-weight: 500;
  /* line-height: 20px; */
  letter-spacing: 0.0225em;
  color: #428f92;
  width: 68px;
  height: 20px;
  padding: 0px;
  border-radius: 10px;
  border: 1px solid #428f92;
  background-position: right 0.4rem center;
  background-size: 10px 10px;
  padding: 0 5px;
}
.student-chart .header .all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-chart .header .all h4 {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 5px;
}

.student-chart .header .all .form-select {
  font-family: Inter;
  font-size: 10px;
  font-weight: 500;
  /* line-height: 20px; */
  letter-spacing: 0.0225em;
  color: #428f92;
  width: 50px;
  height: 20px;
  padding: 0px;
  border-radius: 10px;
  border: 1px solid #428f92;
  background-position: right 0.4rem center;
  background-size: 10px 10px;
  padding: 0 5px;
}
.student-chart .header .all .form-select select option {
}

.student-chart .chart img {
  width: 100%;
  height: 300px;
  margin-top: 30px;
}
.all-teacher-student-card {
  height: 394px;
}
.all-teacher-student-card .card-container {
  /* width: 218.33px; */
  height: 126px;
  border-radius: 6px;
  box-shadow: 0px 2px 3px 0px #0000001a;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-teacher-student-card .card-container .total-student {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-teacher-student-card .card-container .total-student .title h3 {
  color: #428f92;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
}
.all-teacher-student-card .card-container .total-student .title h3 span {
  color: #2d6668;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.all-teacher-student-card .card-container .total-student .title h6 {
  display: flex;
  justify-content: center;
  padding: 0px 8px;
  gap: 10px;
  border-radius: 100px;
  background: #e4feff;
  color: #555;
  font-family: Public Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
}
.all-teacher-student-card .card-container .total-student .circle {
  width: 50px;
  height: 50px;
  padding: 1px;
  border-radius: 30px;
  border: 1px solid #a9fcff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-teacher-student-card .card-container .total-student .circle h5 {
  font-family: Public Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: center;
  color: #428f92;
}

/* report */

.report-container h2 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
}

.student-container {
  /* width: 267.2px; */
  height: 72px;
  border-radius: 6px;
  box-shadow: 0px 2px 3px 0px #0000001a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.student-container .icon {
  width: 42px;
  height: Hug 42px;
  padding: 9px;
  border-radius: 30px;
  background: #ffecec;
}

.student-container h2 {
  font-family: Noto Sans Bengali;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}


/* .subject-card {
  height: 150px;
  border-radius: 6px;
  box-shadow: 0px 2px 3px 0px #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.card-hover{
  margin: 15px 0px;
}


.subject-container {
  /* width: 267.2px; */
  height: 241px;
  border-radius: 6px;
  box-shadow: 2px 3px 6px 2px #0202021a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px 0px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
    z-index: 10;
}

/* .subject-container:hover {
  transform: scale(1.1);
} */


.subject-container::after,
.subject-container::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 0;
    width: 80px;
    height: 3px;
    border-radius: 10px;
    background: #00fff2;
    transition: all 1s cubic-bezier(0.58, 0.16, 0.23, 0.92);
    opacity: 0;
}

.subject-container::before {
    left: initial;
    right: 0;
    width: 3px;
    height: 80px;
}

.subject-container:hover::after {
    left: 100%;
    opacity: 1;
}

.subject-container:hover::before {
    top: 100%;
    opacity: 1;
}


.subject-container .icon {
  width: 82px;
  height: 82px;
  padding: 8px;
  border-radius: 49px;
  background:#e4feff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject-container h2 {
  font-family: Public Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #2d6668;
}

.subject-container h2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color:#f78120; 
  transition: width 0.3s ease; 
}


.subject-container h2:hover::before {
  width: 100%;
}
.subject-container h2 {
  position: relative;
}

.subject-container .total-student {
  display: flex;
}

.subject-container .total-student p {
  font-family: Public Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #7daeb0;
}
.subject-container .total-student .number {
  font-family: Public Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #7daeb0;
}

.request-container {
  height: 394px;
  border-radius: 6px;
  box-shadow: 0px 2px 3px 0px #0000001a;
  padding: 6px;
}
.request-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subjectlist-container {
  height: 100px;
  border-radius: 6px;
  box-shadow: 0px 2px 3px 0px #0000001a;
  display: flex;
  align-items: center;
  margin: 4px;
}

.subjectlist-container .icon {
  width: 75px;
  height: 75px;
  padding: 8px;
  border-radius: 49px;
  background: #e4feff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 8px;
}

.subjectlist-container h2 {
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #2d6668;
}

.subjectlist-container p{
  font-size: 12px;
}

/* ============================= /Teacher Dashboard ============================== */

/* font-class Nikosh */
.ff_nikosh {
  /* background-color: blue; */
  font-family: 'Nikosh' !important;
}

.teacherName {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.deg {
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
}

.icons {
  transition: transform 0.2s;
  margin: 0 auto;
}

.icon_bg_color {
  background-color: #e4feff;
}

.icons:hover {
  transform: scale(1.3);
  border-radius: 50%;
}

.class_teacher {
  font-size: 12px;
  text-align: center;
  font-weight: normal;
}

.session,
.horizontal_bar,
.branch {
  color: #0fc7c7;
  font-size: 14px;
}

.subject {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.std_class {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.cardDesc {
  color: #0fc7c7;
  border: 1px solid #9fdbdb51;
  padding: 2px 2px;
  border-radius: 20px;
  font-size: 8px;
}

/* class six subject start */
.class_six_branch {
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  color: #b4d0d2;
}

.class_six_branch span {
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  color: #a9e17d;
  border: 1px solid #a9e17d;
  padding: 0px 1px;
  border-radius: 2px;
}

.class_six_topics {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #769b9c;
}

.class_six_std_name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #b4d0d2;
}

/* class six subject end */
/* teacher info list start */
.teacher_info_list {
  background-color: #9fdbdb51;
  border-radius: 50%;
  padding: 3px;
}

.OutlineDotsVertical {
  background-color: #9fdbdb51;
  border-radius: 50%;
  padding: 3px;
}

.teacher_info_list_group {
  width: 50%;
}

/* teacher info list start */
/* nav tab start */
.nav_tab_bottom_border:hover {
  border-bottom: 2px solid #428f92;
  padding-top: 0px;
}

/* nav tab end */
/* shikhon kalin mollaion start */
.card_hover:hover {
  background-color: #d2d2d2;
}

/* shikhon kalin mollaion end */

/* learning_period_assessment_btn_right start*/
.table_1st_column_sticky {
  position: sticky;
  white-space: nowrap;
  left: 0px;
  background-color: #fff;
  min-width: 120px;
}

.table_2nd_column_sticky {
  position: sticky;
  white-space: nowrap;
  left: 120px;
  background-color: #fff;
  min-width: 100px;
}

.page_link_hover:hover {
  background-color: #428f92;
  color: #fff !important;
}

.learning_period_assessment_btn_left {
  border-color: #428f92;
  color: #428f92 !important;
  width: 18rem;
}

.learning_period_assessment_btn_left:hover {
  color: #fff !important;
  background-color: #428f92;
}

.learning_period_assessment_btn_right {
  border-color: #428f92;
  background-color: #428f92;
  color: #fff !important;
  width: 18rem;
}

.learning_period_assessment_btn_right:hover {
  border-color: #428f92;
  color: #428f92 !important;
  background-color: #fff;
}

/*learning_period_assessment_btn_right end */

/* student assessment start */
.download_btn {
  background-color: #e4feff;
  color: #428f92;
  border-radius: 5px;
  padding: 10px;
}

.download_icon {
  background-color: #fffae6;
  border-radius: 50%;
  padding: 5px;
}

/* student assessment end */

.tick_mark {
  background-color: #69cb1c;
  font-size: 20px;
  padding: 2px;
  color: #fff;
  border-radius: 50%;
  margin-right: 5px;
}

/* ==============> Army <=================== 


/* =============> Teacher-List-page <========= */
.swal2-popup {
  z-index: 99999;
}

#view_containser {
  /* background-color: #69CB1C; */
  display: grid;
  grid-template-columns: 2fr 10fr;
}

#teacher_card_list:hover {
  background-color: rgb(240, 245, 245);
}

/* =============> student-List-page <========= */
#student_card:hover {
  background-color: rgb(240, 245, 245);
}

/* =============> Class-Page <========= */
#class_card:hover {
  background-color: rgb(246, 247, 247) !important;
}

/* =============>  <========= */
.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

/*====================> Login form <=====================? */

.custom-input::placeholder {
  color: rgb(0, 201, 77) !important;
  background-color: burlywood;
  font-size: 12px !important;
}

/* Login-Page  Input hide*/
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
}

/* Loader Position-center */
.loading_container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.loading_container .spinner_border {
  width: 3rem;
  height: 3rem;
}

.modal_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* All Teacher and students Page Card Grid */
.grid_view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (min-width: 1200px) {
  .grid_view {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .grid_view {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .grid_view {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .grid_view {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  #view_containser {
    /* display: grid; */
    grid-template-columns: 1fr;
  }
}

@media (max-width: 575.98px) {
  .grid_view {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  #view_containser {
    /* display: grid; */
    grid-template-columns: 1fr;
  }
}

/* +++++++++++++++added new task all css++++++++++++++++++++++++ */
.total_student {
  color: #428f92;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
}

.total_student span {
  color: #2d6668;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.classes_name {
  display: flex;
  padding: 0px 10px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  background: #e4feff;
  color: #555;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.total_students_circle {
  border: 2px solid #dbf8f9;
  padding: 33px 20px;
  border-radius: 50%;
}

.total_class_rooms_circle {
  border: 2px solid #dbf8f9;
  padding: 33px 28px;
  border-radius: 50%;
}

.total_students {
  border-radius: 50%;
  color: #428f92;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
}

.tab_nav {
  color: #222;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding: 0 0 0 5px;
}

.request {
  color: #222;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.request_paragraph {
  color: #555;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.request_to_change_ph_no {
  color: #222;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.teacher_name_designation {
  color: #555;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.requested_date {
  color: #555;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.class_day_section {
  display: flex;
  padding: 0px 6px;
  align-items: flex-start;
  gap: 2px;
  border-radius: 16px;
  background: #f0f9f9;
  color: #555;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.show_all_btn {
  display: flex;
  height: 32px;
  padding: 4px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #428f92;
  color: #428f92;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.315px;
  text-transform: capitalize;
}

.class_routine {
  color: #222;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Public Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.time_line {
  color: #555;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.session_and_all_dropdown {
  display: flex;
  padding: 2px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid #428f92;
  color: #428f92;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.315px;
  text-transform: capitalize;
}

.table_row_style {
  color: #555;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.report_title {
  color: #222;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.report_icon {
  border-radius: 30px;
  padding: 5px;
  background: #ffecec;
}

.report {
  color: #222;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Noto Sans Bengali;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
