* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.min-vh-90-100 {
  height: calc(100vh - 100px);
}
.max-width-540 {
  max-width: 540px;
}
body {
  font-family: "Roboto";
  box-sizing: border-box;
}

:root {
  /* color */
  --bg_primary_dark: #2d6668;
  --bg_primary: #428f92;
  --bg_secondary: #a9fcff;
  --bg_success: #f0fae9;
  --text_primary_dark: #2d6668;
  --text_secondary_dark: #0e7e7e;
  --text_primary_fade: #7daeb0;
  --text_success: #69cb1c;
  --text_dark: #222222;
  --text_white: #ffffff;
  --text_blue_dark: #181c32;
}

/* ---------login page start------------------- */
.login-page {
  background: linear-gradient(180deg, #befdff 0%, #a2f3f5 100%);
}
.login-bg {
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(/assets/images/LoginbgImage.svg);
}
.marque-notification {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  transition: top 2s ease 0s; /* only transition top property */
  top: 20px; /* start transitioning from position '0' instead of 'auto' */
  padding: 4px 0;
  color: #0e7e7e;
  background-color: #ffffff;
  border-radius: 30px;
  padding-bottom: 0px;
}
.loginLogo {
  height: 95px;
  width: 226px;
}
.login-page .loginCard {
  border-radius: 6px;
  padding: 60px 80px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.teacher-login-title {
  color: var(--text_dark);
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 2px;
  text-align: left;
  font-family: Noto Sans Bengali;
}

.np-login-subtitle {
  color: var(--text_dark);
  font-family: Noto Sans Bengali;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.login-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text_blue_dark);
  font-family: Noto Sans Bengali;
}
.login-container {
  padding-top: 6%;
  padding-bottom: 4%;
}

.np-login-checbox-text {
  color: var(--text-secondary-color);
}

.login-button {
  display: flex;
  padding: 14px 112px 14px 111px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--primary-color-1);
  margin: 0 auto;
  width: 100%;
  font-family: Noto Sans Bengali;
}

.login-button:hover {
  background: #428f92;
}

.password-toggle {
  position: absolute;
  right: 3%;
  top: 20%;
  z-index: 100;
}

.np-login-field-icon {
  position: absolute;
  left: 4%;
  z-index: 100;
  top: 30%;
  width: 20px;
  color: var(--text_dark);
}
.collect-pin {
  font-family: Noto Sans Bengali;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6278;
}
.collect-pin input {
  color: var(--text_secondary_dark);
}
.login-btn {
  background-color: var(--bg_primary);
  color: var(--text_white);
  font-family: Noto Sans Bengali;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0225em;
}

.forget-password {
  font-family: Noto Sans Bengali;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: #5e6278;
}
.forget-password:hover {
  color: var(--bg_primary_dark);
}
/* --------- */
.form-check-input:checked {
  background-color: var(--text_secondary_dark) !important;
  border: 0;
}
.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem var(--text_primary_dark) !important;
}
/* --------- */
.np-login-form-field {
  border-radius: 5px !important;
  background-color: #f5f8fa;
  padding: 0.775rem 2.75rem;
  border: none;
}

.login-field-title {
  font-family: Noto Sans Bengali;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--bg_primary);
}

.login-next-page {
  color: white;
  text-decoration: none;
}

.login-forget-pass {
  float: right;
  text-decoration: none;
  color: black;
}

.login-language {
  font-weight: 400;
  color: #222;
}

.footer-menus {
  font-size: 12px;
}
/* ---------login page end------------------- */
