.class-info-list {
    column-gap: 8px;
    margin-bottom: 10px;
}

.class-info-list .info {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}